@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap');

*{

  font-family: 'Gothic A1', sans-serif;
}


/*Header*/

  nav{
      display: flex;
      align-items:center;
      justify-content: space-around;
      font-size: 20px;
  }

  .ham{
    display:none;
    background-color:transparent;
    cursor: pointer;
    border:none;
    margin:0;
    padding:0;
    }
    
    .ham span{
        background-color: #3d3d3d9c;
        display:block;
        height:3px;
        width: 28px;
        margin:10px auto;
        border-radius:1px;   
    }
  .enlaces-menu{
      display:flex;
      padding:0;
  }
  .enlaces-menu li{
      padding: 0 40px;
      list-style: none;
      transition: 0.3s;
  }

  .enlaces-menu li a{
      text-decoration:none;
      color: #3d3d3d;
  }

/* Querys nav */

  @media (max-width:768px) {

      .ham{
          display:block;
          cursor:pointer;
          position: absolute; 
          top:15px;
          right:25px;
          transition: 0.2s  0.1s; 
  
      }
   
      
      nav{
          flex-direction:column;
          align-items: flex-start;
          padding-top: 25px;
          padding-bottom: 25px;
      }

      .logo{
        padding-left:25px;
        
      }

      .enlaces-menu{
        
          flex-direction:column;
          justify-content: space-around;
          align-items:center;
          height: 92vh;         
          margin:0;
          padding:0; 
          display:none;
          opacity:0;
          transition: opacity 5s ease-out;
          width:100%;
      
         
      }
      .enlaces-menu li{
        text-align:center;
        width:100%;
        padding:20px;    
    }
  
}

/* Animaciones */
  
@keyframes muestraMenu {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .enlaces-menu.activado{
      display:flex; 
      animation: muestraMenu 350ms ease-in-out both;
  }

  .br-1.animado{
    transform: rotate(-45deg) translate(-10px, 8px);
  }
  
  .br-2.animado{
    opacity: 0;
  }
  .br-3.animado{
    transform: rotate(45deg) translate(-10px, -8px);
  }

 .ham.girar:hover{
     transform:rotate(360deg);
 }

/*Main*/

h1{
	color: #003508;
	font-weight: 500;
}
.section{
	width: 100%;
	min-height: 100vh;
}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
}
.image-section img{
	width: 100%;
	height: auto;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h2{
	margin-top: 25px;
	color:#5d5d5d;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 23px;
	line-height: 1.5;
}
/*animaciones*/
.content-section .content .animate__fadeInDown{
	margin-top: 30px;
}
.content-section .content .animate__fadeInDown a{
	background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
}
.content-section .content .animate__fadeInDown a:hover{
	background-color: #892029;
	color:#fff;
}

.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	font-size: 30px;
	padding:0px 10px;
}

@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
/*Animaciónes*/
.content-section .content .animate__fadeInDown{
	text-align: center;
}
.content-section .content .animate__fadeInDown a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}